*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
config/initializers/secret_token.rb
.DS_Store
*.gem
*.rbc
.bundle
bundle_bin
.byebug_history
.config
coverage
InstalledFiles
lib/bundler/man
pkg
config/config.yml
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
tmp.*
bin
.sass-cache
tags
public/dwca/*
log/*
blast/wwwblast.log
blast/TmpGifs/*.gif

# YARD artifacts
.yardoc
_yardoc
doc/
java/similarities*
java/*.class
seabase-production.env
