%h3 Google Graph test

#combined_data_chart
#combined_data_table

:javascript
  google.load('visualization', '1', {packages:["corechart"]});
  google.load('visualization', '1', {packages:['table']});
  google.setOnLoadCallback(drawChartSeparate);
  
  function drawChartSeparate() {
    var combined_data = google.visualization.arrayToDataTable(#{@separate_data});

    var combined_chart_options = {
      width: 800,
      height: 500,
      title: "Separate Data for #{@name}",
      titleTextStyle: { fontSize: 18 },
      colors: ['#afa', '#9d9', '#3a3'],
      hAxis: { title: 'Hours' }, 
      vAxis: { title: 'Molecules per Embryo' },
    };

    var combined_table_options = {
      width: 500,
    }

    data_view = new google.visualization.DataView(combined_data);
    
    var combined_chart = new google.visualization.LineChart(document.getElementById('combined_data_chart'));
    combined_chart.draw(combined_data, combined_chart_options);
    var combined_table = new google.visualization.Table(document.getElementById('combined_data_table'));
    combined_table.draw(data_view, combined_table_options);

    google.visualization.events.addListener(combined_table, 'select', function() {
      combined_chart.setSelection(combined_table.getSelection());
    });

  }

  function drawChart() {
    var combined_data = google.visualization.arrayToDataTable(#{@combined_data.to_json});

    var combined_chart_options = {
      width: 800,
      height: 500,
      title: "Combined data for #{@name}",
      titleTextStyle: { fontSize: 18 },
      colors: ['#3a3'],
      hAxis: { title: 'Hours' }, 
      vAxis: { title: 'Molecules per Embryo' },
      legend: "none",
    };

    var combined_table_options = {
      width: 200,
      orientation: 'horisontal'
    }

    data_view = new google.visualization.DataView(combined_data);
    data_view.hideColumns([2]);
    
    var combined_chart = new google.visualization.LineChart(document.getElementById('combined_data_chart'));
    combined_chart.draw(combined_data, combined_chart_options);
    var combined_table = new google.visualization.Table(document.getElementById('combined_data_table'));
    combined_table.draw(data_view, combined_table_options);

    google.visualization.events.addListener(combined_table, 'select', function() {
      combined_chart.setSelection(combined_table.getSelection());
    });

  }
