%img{ class: 'home_img', src: 'http://media.eol.org/content/2010/03/30/04/78734_orig.jpg', width: '400px' }

%p 
  SeaBase provides a platform for sharing, searching and analyzing
  quantitative gene expression data. Please feel free to look around, find your
  favorite gene (or genes) and plot their temporal expression, or browse
  RNA-seq data from your favorate marine/aquatic organism.

%p 
  Have data to contribute? Please let us know. We will be happy to include it.

%p 
  We currently support a plotting function, e.g., for differential expression
  analysis or for time series expression plots. We will be adding more
  functions soon. Next on the list is a clustering tool for identifying
  synexpression networks. Stay tuned: more tools - all geared for determining
  Gene Networks - are to follow.

%p 
  For updates and to give us suggestions, follow us on Twitter @MBLSeaBase.
