!!! 5
%html
  %head
    %title 
      SeaBase
    %link{ rel: 'stylesheet', href: '/css/app.css', type: 'text/css' }
    %link{ rel: 'stylesheet', href: 'http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css', type: 'text/css' }
    %script{ src: 'http://code.jquery.com/jquery-1.9.1.js' }
    %script{ src: 'http://code.jquery.com/ui/1.10.3/jquery-ui.js' }
    %script{ src: 'https://www.google.com/jsapi' }
  %body
    .container
      .header
        %h1{ id: 'title' }
          %a{ href: '/' } SeaBase
        .menu
          %ul
            %li
              %a{ href: '/' } Home
            %li
              %a{ href: '/search' } Search
            %li
              %a{ href: '/blast' } Blast
    .container
      #search
        .ui-widget
          %form{ method: :get, action: '/search', name: :search_form, id: :search_form}
            %label{ for: 'scientific_name'} Search Type
            %select{ name: 'scientific_name', id: 'scientific_name' }
              %option{ value: 'Homo sapiens' } Transcript By Human Ortholog
              %option{ value: 'Mus musculus' } Transcript By Mouse Ortholog
              %option{ value: 'Nematostella vectensis', selected: true } Transcript By Nematostella Ortholog
            
            %label{ for: 'organism' }
            %select{ id: 'organism', name: 'organism' }
              %option{ value: 'Nematostella vectensis' } Nematostella vectensis
            
            %label{ for: 'term' } Search Term
            %input#term_search{ type: 'text', name: 'term' }
            %input#exact_search{ type: 'hidden', value: 'false', name: 'exact_search' }
            %input{ type: 'submit', value: 'Search' }

    .container
        
        
      #content
        = yield
    .clear &nbsp;
    #footer
      %a{ href: 'http://mbl.edu' } Marine Biological Laboratory
      |
      %a{ href: 'http://opensource.org/licenses/MIT' } MIT License


:javascript
  $(function() {
    $( "#term_search" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/search.json",
          dataType: "jsonp",
          data: {
            scientific_name: $("#scientific_name option:selected").attr('value'), 
            term: request.term,
            batch_size: 10
          },
          success: function( data ) {
            response( $.map( data, function( item ) {
              return { value: item.name  }
            }));
          },
        });
      },
      minLength: 1,
      select: function(event, ui) {
        $("#exact_search").val('true');
        $("#term_search").val(ui.item.label);
        $("form#search_box").submit();
      },
    });
  });


