!!! 5
%html
  %head
    %title 
      Seabase
    %link{ rel: 'stylesheet', href: '/css/app.css', type: 'text/css' }
  %body
    .container
      %h1{ id: 'title' }
        %a{ href: '/' } Seabase
      #search
        %form{ method: :post, action: 'search', name: :search_form, id: :search_form}
          %label{ for: 'scientific_name'} Search Type
          %select{ name: 'scientific_name', id: 'scientific_name' }
            %option{ value: 'Homo sapiens' } Transcript By Human Ortholog
            %option{ value: 'Mus musculus' } Transcript By Mouse Ortholog
            %option{ value: 'Nematostella vectensis', selected: true } Transcript By Nematostella Ortholog
          
          %label{ for: 'organism' }
          %select{ id: 'organism', name: 'organism' }
            %option{ value: 'Nematostella vectensis' } Nematostella vectensis
          
          %label{ for: 'term' } Search Term
          %input{ type: 'text', id: 'term', name: 'term' }
          %input{ type: 'submit', value: 'Search' }

        
      #sidebar
        %ul
          %li
            %a{ href: '/' } Home
          %li
            %a{ href: '/search' } Search
          %li
            %a{ href: '/blast' } Blast

        
      #content
        = yield
    .clear &nbsp;
    #footer
      %a{ href: 'http://opensource.org/licenses/MIT' } MIT License


