google_analytics_id: 123_abc
google_analytics_domain: example.org
development:
  session_secret: chnge_me
  adapter: mysql2
  host: localhost
  username: root
  password:
  database: seabase_dev
test:
  session_secret: chnge_me
  adapter: mysql2
  host: localhost
  username: root
  password:
  database: seabase_test
production:
  session_secret: chnge_me
  adapter: mysql2
  host: localhost
  username: root
  password:
  database: seabase

