google_analytics_id: 123_abc
google_analytics_domain: example.org
session_secret: chnge_me
database:
  development:
    adapter: mysql2
    host: localhost
    username: root
    password:
    database: seabase_dev
  test:
    adapter: mysql2
    host: localhost
    username: root
    password:
    database: seabase_test
  production:
    adapter: mysql2
    host: localhost
    username: root
    password:
    database: seabase
