development:
  session_secret: chnge_me
  adapter: mysql2
  host: localhost
  username: root
  password:
  database: hps_bioindex
test:
  session_secret: chnge_me
  adapter: mysql2
  host: localhost
  username: root
  password:
  database: hps_bioindex_test
production:
  session_secret: chnge_me
  adapter: mysql2
  host: localhost
  username: root
  password:
  database: hps_bioindex

