@import "zen";
$zen-column-count: 7;
$zen-gutter-width: 0px;

@mixin brd($radius){
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin size-params {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  padding: 0px;
}

html, button, input, select, textarea {                                          
  font-family: "Open sans", 
               "Helvetica Neue", 
               "HelveticaNeue", 
               Helvetica, 
               Arial, 
               sans-serif;
  font-weight: 400; /* normal */                                                 
  font-size: 1em;
  color: #333;                                                                   
  font-smooth:always;                                                            
  -webkit-font-smoothing: antialiased;                                           
  font-smoothing: antialiased;                                                   
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.container {
  @include zen-grid-container;
  @include size-params;
  background-color: white;
  background-repeat: no-repeat;
}

.item {
  margin-bottom: 0.5em;
}

.header {
  @include zen-grid-item(7, 1);
  @include brd(8px);
  padding: 1em;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: #30659b;
  color: white;
  h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    float: left;
  }
  a { 
    color: white;
    text-decoration: none;
  }
  .menu {
    font-size: 1.4em;
    text-align: right; 
    list-style-type: none;
    ul { 
      padding: 0;
      margin: 0;
    }

    li {
      display: inline;
      padding: 0;
      margin: 0;
    }
    a { color: #fff; }
  }

}

#search {
  @include zen-grid-item(7, 1);
  @include brd(8px);
  width: 100%;
  background-color: #eee;
  padding: 0.3em;
  margin-bottom: 0.5em;
  text-align: center;
}

#flash {
  @include brd(5px);
  @include size-params;
  color: #800;
  font-weight: bold;
  background-color: #fdd;
  border-color: #833;
  border-width: 3px;
}

#content {
  @include zen-grid-item(7, 1);
  width: 100%;
  background-color: #fff;
}

#transcripts_data {
  @include zen-clear;
  @include size-params;
  padding: 0.5em;
  a { 
    text-decoration: none;
    color:   #30659b;
  }
}

#footer {
  @include zen-clear;
  @include brd(8px);
  @include size-params;
  padding: 0.5em;
  background-color: #30659b;
  color: #fff;
  a { 
    text-decoration: none;
    color: #fff;
  }
    
}

#data_chart {
  @include zen-clear;
  @include zen-grid-item(5, 1);
}

#data_table {
  @include zen-grid-item(2, 6);
}

.dir_item {
  @include brd(8px);
  padding: 10px;
  width: 90%;
  background-color: #fff;
  color: #000;
  margin: 1em;
}

.form_section {
  margin-top: 1em;
  margin-bottom: 1em;
}

.transcript_details {
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid grey;
  strong {
    display: inline-block;
    width: 4em;
  }
}

.ui-menu-item {
  font-size: 0.8em;
  text-wrap: normal;
  border-bottom: 1px solid #aaa;
}

body {
  background: url(/images/ru_reverse.png) no-repeat bottom right, url(/images/pattern.png);
  height: 10000px;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

dd, dt{
    display: inline;
    margin: 0;
}

dt {
  font-weight: bold;
}
dd:before {
    content: ' '; /* space them */
}
dt:before { /* insert line break before <dt> */
    content:"\A";
    white-space:pre;
}
dt:first-child:before { /* disable line break before the first <dt> */
    content: none;
}
